/* CSS for Header Component */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1d2a1f;
  color: white;
}

.logo a,
.fun-thing a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: bold;
}


.dropdown-menu {
  position: relative;
}

.dropdown-button {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  background: #7e4f34;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  background-image: url('/src/images/vintage-speckles.png');
}

.dropdown-list li {
  padding: 5px 20px;
}

.dropdown-list a {
  text-decoration: none;
  color: #1d2a1f;
  font-size: 14px;
}