/* Home.css */

.main-box {
  background-color: #796887;
  padding: 20px;
  text-align: center;
  color: antiquewhite;
}

.picture-gallery {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.picture-gallery img {
  margin: 0 10px;
  max-width: 25%;
}

.shop-info {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.shop-photo img {
  max-width: 300px;
  padding: 30px;
}

.shop-description {
  flex-grow: 1;
  padding-left: 20px;
}
