
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Tsukimi+Rounded:wght@700&display=swap');


body {
  
  margin: 0;
  font-family: 'Lato', sans-serif;
    font-family: 'Tsukimi Rounded', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(222, 178, 113);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
